@use '../abstracts/' as *;

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: $size-8 0;
  @media (max-width: map-get($breakpoints, medium)) {
    justify-content: space-evenly;
  }
  &-navbar {
    &-menu {
      display: flex;
      gap: $size-8;
      font-size: $size-6;
    }
  }
  &-logo {
    font-size: $size-7;
    &-small {
      display: none;
      @media (max-width: map-get($breakpoints, small)) {
        display: block;
        .material-symbols-sharp {
          display: flex;
          font-size: $size-9;
          font-variation-settings:
            'FILL' 1,
            'wght' 100;
        }
      }
    }
    &-large {
      visibility: visible;
      @media (max-width: map-get($breakpoints, small)) {
        visibility: hidden;
        display: none;
      }
    }
  }
  &-actions-menu {
    display: flex;
    gap: $size-2;
    span {
      display: flex;
      font-size: $size-7;
      padding: $size-1;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &-hamburger {
    display: none;
    cursor: pointer;
    margin: 0 auto;
    &-bar {
      display: block;
      width: $size-6;
      height: calc($size-1/2);
      margin: $size-1 auto;
      transition: all 0.5s ease-in;
      -webkit-transition: all 0.5s ease-in;
      background-color: black;
    }
  }
  @media (max-width: map-get($breakpoints, medium)) {
    &-hamburger {
      display: block;
      cursor: pointer;
      &.active {
        :nth-child(2) {
          opacity: 0;
        }
        :nth-child(1) {
          transform: translateY(6px) rotate(-45deg);
        }
        :nth-child(3) {
          transform: translateY(-6px) rotate(+45deg);
        }
      }
    }
    &-navbar-menu {
      display: flex;
      justify-content: start;
      position: fixed;
      z-index: 1000;
      top: 100px;
      left: -150%;
      flex-direction: column;
      text-align: center;
      background-color: #d7d7d7;
      width: 100vw;
      height: 100%;
      transition: all 1s ease-out;
      &.active {
        box-shadow: 0px -100px 100px 100px rgba(0, 0, 0, 0.1);
        top: 100px;
        left: 0;
      }
      &-item {
        width: 100%;
        padding: 2em;
        a:is(:hover, :active, :focus) {
          color: #d7d7d7;
        }
        &:hover {
          background-color: #1a1917;
          transition: all 1s ease-out;
        }
      }
    }
  }
}
