@use '../abstracts/' as *;

.modal {
  display: flex;
  overflow: scroll;
  background: white;
  position: absolute;
  z-index: 9999;
  padding: $size-4;
  top: $size-13;
  right: 15vi;
  width: 480px;
  height: 520px;
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.1);
  h1 {
    margin-bottom: $size-4;
  }
  p {
    font-weight: $font-weight-semi-bold;
  }
  img {
    opacity: 1;
    transition: 0.5s;
    &:hover {
      opacity: 0.75;
    }
  }
  @media (max-width: map-get($breakpoints, medium)) {
    right: 0;
  }
  @media (max-width: map-get($breakpoints, small)) {
    right: 4vi;
    width: 90vi;
  }
}
