@use '../../abstracts/' as *;

.product-basket {
  display: flex;
  align-items: center;
  font-size: $size-4;
  margin: $size-8 0;
  opacity: 1;
  .basket-wishlist {
    font-size: $size-11;
    &-fill {
      font-size: $size-11;
      font-variation-settings:
        'FILL' 1,
        'wght' 100;
    }
  }
  @media (max-width: map-get($breakpoints, medium)) {
    flex-direction: column;
    gap: $size-8;
  }
}
