@use '../../abstracts/' as *;

.product-basket {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: 2rem 0;
  opacity: 1;
  .basket-wishlist {
    font-size: $size-12;
    &-fill {
      font-size: $size-12;
      font-variation-settings:
        'FILL' 1,
        'wght' 100;
    }
  }
  @media (max-width: map-get($breakpoints, medium)) {
    flex-direction: column;
    gap: 2rem;
  }
}
