@use '../../abstracts/' as *;

.product-galery {
  gap: 4rem;
  display: flex;
  flex-direction: row;
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  @media (max-width: map-get($breakpoints, xlarge)) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-wrapper {
      width: 80vw;
      display: flex;
      flex-direction: row;
      order: 1;
    }
  }
}
