@use '../../abstracts/' as *;

.product-info {
  select {
    margin-top: $size-4;
    padding: $size-2;
    font-size: $font-size-600;
  }
  .size-option {
    &[disabled] {
      background-color: $dot-color;
    }
  }
  .product-info-colors-dot {
    display: inline-block;
    margin-right: $size-4;
    height: $size-6;
    width: $size-6;
    border: 1px solid $select-disable-color;
    background-color: $select-disable-color;
    border-radius: 50%;
  }
}
