@use '../../abstracts/' as *;

.outfit {
  width: 80vw;
  margin: 0 auto;
  &-wrapper {
    gap: $size-4;
    padding: $size-4;
    opacity: 1;
    transition: 0.5s;
    &:hover {
      opacity: 0.75;
    }
    img {
      width: 10vmax;
      aspect-ratio: 3/5;
      object-fit: cover;
    }
  }
}
