@use '../../abstracts/' as *;

.product {
  h1,
  h2 {
    padding-top: 1rem;
  }
  &-detail {
    display: flex;
    flex-direction: row;
    padding: 8rem;
    column-gap: 4rem;
    @media (max-width: map-get($breakpoints, xlarge)) {
      flex-direction: column;
    }
  }
}
