@use '../../abstracts/' as *;

.product {
  h1,
  h2 {
    padding-top: $size-4;
  }
  &-detail {
    display: flex;
    flex-direction: row;
    padding: $size-14;
    column-gap: $size-11;
    @media (max-width: map-get($breakpoints, xlarge)) {
      flex-direction: column;
    }
  }
}
