@use '../abstracts/' as *;

.category {
  width: 80%;
  margin: 0 auto;
  &-title {
    font-size: 10vmin;
    font-weight: $font-weight-semi-bold;
    padding: $size-4 $size-11;
  }
  &-content {
    display: flex;
  }
  @media (max-width: map-get($breakpoints, large)) {
    width: 100%;
    &-content {
      flex-direction: column;
    }
  }
}
