@use '../abstracts/' as *;

.home {
  &-products {
    width: 80%;
    margin: 0 auto;
    padding: 8rem 0;
    @media (max-width: map-get($breakpoints, medium)) {
      width: 100%;
    }
  }
  &-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    h1 {
      position: absolute;
      font-size: 22vi;
      z-index: 99;
    }
    :nth-child(2) {
      z-index: 99;
      rotate: 20deg;
    }
    :nth-child(3) {
      rotate: 200deg;
    }
    :nth-child(4) {
      z-index: 99;
      rotate: 60deg;
    }
    .material-symbols-sharp {
      color: white;
      font-size: 36em;
      font-variation-settings: 'wght' 100;
      text-shadow:
        1px 1px 2px rgb(0, 0, 0, 0.1),
        0 0 20em rgb(255, 255, 255),
        0 0 0.5em rgb(35, 35, 35);
    }
  }
}
