@use '../abstracts/' as *;

.home {
  &-products {
    width: 80%;
    margin: 0 auto;
    padding: $size-14 0;
    @media (max-width: map-get($breakpoints, medium)) {
      width: 100%;
    }
  }
  &-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    span:first-child {
      position: absolute;
      font-size: 22vmin;
      z-index: 99;
    }
    :nth-child(even) {
      rotate: 30deg;
    }
    :nth-child(3) {
      rotate: 190deg;
    }
    .material-symbols-sharp {
      color: white;
      font-size: $size-18;
      font-variation-settings: 'wght' 100;
      text-shadow:
        1px 1px 2px rgb(0, 0, 0, 0.1),
        0 0 20em rgb(255, 255, 255),
        0 0 0.5em rgb(35, 35, 35);
    }
  }
}
