@use '../abstracts/' as *;

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  hr {
    width: 1px;
    height: 30vh;
    margin: $size-8;
  }
  &-signin,
  &-signup {
    padding: $size-11;
    display: flex;
    align-items: center;
    flex-direction: column;
    label {
      position: relative;
      display: flex;
      align-items: center;
      margin: $size-5;
      span {
        left: 4px;
        font-size: $size-5;
        position: absolute;
      }
      .password {
        right: $size-4;
        left: auto;
        position: absolute;
      }
      input {
        border: 1px solid black;
        padding: 0.5rem 2rem;
      }
    }
  }
  &-signup {
    padding: 4rem;
    > * {
      margin: 1rem;
    }
    p {
      line-height: 16px;
      font-size: 0.75rem;
    }
  }
  @media (max-width: map-get($breakpoints, large)) {
    flex-direction: column;
    hr {
      height: 1px;
      width: 75vw;
    }
  }
}
