@use '../abstracts/' as *;

.profile {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  height: 100%;
  border-radius: 0 $size-10 $size-10 0;
  font-size: $font-size-700;
  margin: $size-11 auto;
  label {
    border-bottom: 1px solid $border-primary-color;
    font-size: $font-size-600;
    p {
      font-weight: $font-weight-semi-bold;
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-500;
      padding: $size-2;
    }
  }
  span {
    font-size: $size-15;
    font-variation-settings:
      'FILL' 1,
      'wght' 300;
  }
  hr {
    width: 1px;
    height: 30vh;
  }
  &-address,
  &-info,
  &-orders,
  &-home {
    width: 100%;
    padding: $size-8;
    border-left: 1px solid black;
    @media (max-width: map-get($breakpoints, large)) {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid black;
      border-left: 0px;
    }
  }
  @media (max-width: map-get($breakpoints, large)) {
    flex-direction: column;
    hr {
      width: 50vw;
      height: 1px;
    }
  }
}
