@use '../abstracts/' as *;

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: $font-size-600;
  form {
    display: flex;
    flex-direction: column;
    label {
      position: relative;
      display: flex;
      align-items: center;
      margin: $size-6;
      span {
        position: absolute;
        left: $size-2;
        font-size: $size-5;
      }
      select {
        padding: $size-2 $size-4;
        width: 100%;
      }
      p {
        margin-top: $size-9;
      }
      .register-form-error {
        position: absolute;
        top: $size-4;
        font-size: $font-size-300;
        font-weight: $font-weight-bold;
        line-height: 1;
      }
      .password {
        position: absolute;
        right: $size-4;
        left: auto;
      }
    }
    button {
      margin-top: $size-8;
    }
  }
}
