@use '../../abstracts/' as *;

.profile-cart {
  max-width: 70%;
  margin: 0 auto;
  h1 {
    text-align: center;
    span {
      padding: $size-4;
    }
  }
  table {
    img {
      width: 100%;
    }
    display: flex;
    width: 100%;
    flex-direction: column;
    thead,
    tbody,
    tfoot {
      vertical-align: top;
    }
    tr {
      display: flex;
      width: 100%;
    }
    th,
    td {
      display: flex;
      flex-direction: column;
      text-align: start;
      width: 100%;
      padding: $size-8 0;
      border-top: 1px solid black;
    }
    tfoot {
      font-size: $size-6;
      font-weight: $font-weight-semi-bold;
      tr {
        display: grid;
        grid-template-columns: 4fr 1fr;
        th:nth-child(2) {
          text-align: right;
        }
      }
    }
    h1 {
      text-align: start;
      padding: $size-8 0;
    }
    .quantity {
      display: flex;
      align-items: center;
      button {
        margin: $size-2;
        padding: $size-1 $size-2;
      }
    }
    .bold {
      font-size: $font-size-500;
      font-weight: $font-weight-semi-bold;
    }
  }
  .remove {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .clear {
    display: flex;
    justify-content: end;
    margin: $size-4 0;
  }
  .buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    button {
      width: 100%;
    }
  }
  @media (max-width: map-get($breakpoints, large)) {
    table {
      tr {
        display: flex;
        flex-direction: column;
        padding: $size-8;
      }
      td,
      th {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
    }
  }
}
