.cart {
  width: 100%;
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-weight: 500;
  }
  .clear {
    float: right;
    margin: 1rem;
  }
  &-wrapper {
    display: grid;
    gap: 2rem 0;
    &-item {
      display: grid;
      grid-template-columns: repeat(2, 4fr) 2fr repeat(3, 1fr) 2fr;
      align-items: center;
      text-align: center;
      img {
        width: 120px;
        height: auto;
      }
      &-button {
        background: none;
        border: none;
        cursor: pointer;
      }
      .increase,
      .decrease {
        background: black;
        border: 2px solid black;
        color: white;
      }
      .remove {
        margin-left: 1rem;
      }
    }
  }
}
