.cart {
  width: 100%;
  padding-right: 2rem;
  overflow: scroll;
  h1 {
    font-size: 1.5rem;
  }
  &-wrapper {
    display: grid;
    gap: 2rem 0;
    &-item {
      display: grid;
      grid-template-columns: 4fr 4fr 1fr 1fr 2fr 1fr;
      align-items: center;
      text-align: center;
      img {
        width: 120px;
        height: auto;
      }
      &-button {
        display: grid;
        background: none;
        border: none;
        border: 2px solid black;
        background: black;
        color: white;
        opacity: 1;
        &:active {
          opacity: 0.5;
        }
      }
    }
  }
}
