@use '../../abstracts/' as *;

.search {
  &-wrapper {
    padding: $size-8 0;
    display: grid;
    gap: $size-8 0;
    &-item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: center;
      gap: $size-8;
    }
  }
}
