@use '../../abstracts/' as *;

.wishlist {
  width: 100%;
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: $size-8 0;
    &-item {
      display: flex;
      align-items: center;
      position: relative;
      gap: $size-6;
      .remove,
      .clear {
        position: absolute;
        right: 0;
      }
      .clear {
        margin: $size-2;
      }
    }
  }
}
