@use '../abstracts/' as *;

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  background-color: $body-background-color;
  line-height: $body-line-height;
}
a {
  display: inline-block;
  position: relative;
  color: $color-text-default;
  &:not(:has(img, span, button)):is(:hover) {
    color: $color-text-default;
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $body-background-secondary-color;
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
  }
}
button {
  border: none;
  background: $body-background-secondary-color;
  color: $color-text-primary;
  padding: $size-2 $size-4;
  margin: $size-2;
  cursor: pointer;
  &:active {
    transform: translateY(1px);
  }
}
input {
  border: 1px solid black;
  padding: $size-2 $size-8;
}
span[role='presentation'] {
  cursor: pointer;
}
img {
  aspect-ratio: 1/1;
  object-fit: contain;
  max-width: 80vi;
}
h1 {
  font-size: $font-size-800;
  font-weight: $font-weight-semi-bold;
}
h2 {
  font-size: $font-size-700;
}
h3 {
  font-size: $font-size-600;
}
h4 {
  font-size: $font-size-500;
}
button:is(:disabled) {
  border: none;
  background-color: $button-disable-body-color;
  color: $button-disable-color;
}
.container {
  width: 70%;
  display: flex;
  margin: 0 auto;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 1px rgb(0, 0, 0);
}
